In [459]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [460]:
data = pd.read_csv('movie_bd_v5.xls')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
70,tt2279339,17000000,24000000,Love the Coopers,Steve Martin|Diane Keaton|John Goodman|Alan Ar...,Jessie Nelson,"Christmas means comfort, joy and chaos.",When four generations of the Cooper clan come ...,107,Family|Comedy,Imagine Entertainment|Groundswell Productions|...,11/12/2015,5.3,2015
820,tt1411704,63000000,183953723,Hop,Russell Brand|James Marsden|Kaley Cuoco|Hank A...,Tim Hill,"Candy, chicks and rock 'n' roll.","E.B., the Easter Bunny's teenage son, heads to...",95,Animation,Universal Pictures|Illumination Entertainment,3/30/2011,5.4,2011
1251,tt1229340,50000000,173649015,Anchorman 2: The Legend Continues,Will Ferrell|Steve Carell|Paul Rudd|Christina ...,Adam McKay,It's kind of a big deal,"With the 70s behind him, San Diego's top rated...",119,Comedy,Paramount Pictures|Gary Sanchez Productions|Ap...,12/18/2013,6.0,2013
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,9/11/2009,7.8,2009
129,tt2713180,68000000,211817906,Fury,Brad Pitt|Shia LaBeouf|Logan Lerman|Michael Pe...,David Ayer,War never ends quietly.,Last months of World War II in April 1945. As ...,135,War|Drama|Action,Columbia Pictures|QED International|Crave Film...,10/15/2014,7.4,2014

In [461]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [550]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# добавил строчку profit
data['profit'] = data['revenue'] - data['budget']
data.sample(5)


#the time given in the dataset is in string format.
#So we need to change this in datetime format
data.release_date  = pd.to_datetime(data.release_date)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [636]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [465]:
# тут пишем ваш код для решения данного вопроса:
budget = data.groupby(['original_title'])['budget'].max().sort_values(ascending=False)
budget

original_title
Pirates of the Caribbean: On Stranger Tides    380000000
Pirates of the Caribbean: At World's End       300000000
Avengers: Age of Ultron                        280000000
Tangled                                        260000000
John Carter                                    260000000
                                                 ...
Spring Breakers                                  5000000
The Last Exorcism Part II                        5000000
Apollo 18                                        5000000
Paranormal Activity: The Marked Ones             5000000
Clerks II                                        5000000
Name: budget, Length: 1887, dtype: int64

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [637]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [467]:
runtime = data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False)
runtime

original_title
Gods and Generals                                214
The Lord of the Rings: The Return of the King    201
Grindhouse                                       191
King Kong                                        187
Pearl Harbor                                     183
                                                ...
Valiant                                           76
Home on the Range                                 76
The Jungle Book 2                                 72
Return to Never Land                              72
Winnie the Pooh                                   63
Name: runtime, Length: 1887, dtype: int64

# 3. Какой из фильмов самый короткий (в минутах)?

In [639]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [638]:
runtime_min = data.groupby(['original_title'])['runtime'].min().sort_values(ascending=True)
runtime_min

original_title
Winnie the Pooh                                   63
Return to Never Land                              72
The Jungle Book 2                                 72
Home on the Range                                 76
Valiant                                           76
                                                ...
Pearl Harbor                                     183
King Kong                                        187
Grindhouse                                       191
The Lord of the Rings: The Return of the King    201
Gods and Generals                                214
Name: runtime, Length: 1887, dtype: int64

# 4. Какова средняя длительность фильмов?

In [640]:
data.runtime.mean()

109.6585494970884

In [641]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [235]:
data.runtime.median()

107.0

In [642]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [643]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit = data.groupby(['original_title'])['profit'].max().sort_values(ascending=False)
max_profit

original_title
Avatar                          2544505847
Star Wars: The Force Awakens    1868178225
Jurassic World                  1363528810
Furious 7                       1316249360
The Avengers                    1299557910
                                   ...
Flushed Away                     -84540684
The Adventures of Pluto Nash     -92896027
Mars Needs Moms                 -111007242
The Alamo                       -119180039
The Lone Ranger                 -165710090
Name: profit, Length: 1887, dtype: int64

In [644]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [505]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [645]:
min_profit = data.groupby(['original_title'])['profit'].min().sort_values(ascending=True)
min_profit

original_title
The Lone Ranger                 -165710090
The Alamo                       -119180039
Mars Needs Moms                 -111007242
The Adventures of Pluto Nash     -92896027
Flushed Away                     -84540684
                                   ...
The Avengers                    1299557910
Furious 7                       1316249360
Jurassic World                  1363528810
Star Wars: The Force Awakens    1868178225
Avatar                          2544505847
Name: profit, Length: 1887, dtype: int64

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [647]:
answers['8'] = '1. 1478'

In [646]:
len(data[data['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [648]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [649]:
max_profit_2008 = data[data['release_year'] == 2008].groupby(['original_title'])['profit'].max().sort_values(ascending=False)
max_profit_2008.head(1)

original_title
The Dark Knight    816921825
Name: profit, dtype: int64

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [650]:
answers['10'] = '4. The Lone Ranger (tt1210819)'

In [651]:
min_profit_1 = data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)].groupby(['original_title'])['profit'].min().sort_values(ascending=True)
min_profit_1.head(1)

original_title
The Lone Ranger   -165710090
Name: profit, dtype: int64

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [712]:
answers['11'] = '3. Drama'

ВАРИАНТ 2

In [653]:
data['genres'].str.split('|').explode().value_counts()

#genres.explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [654]:
data12 = data[data['profit'] > 0].copy()
data12['genres12'] = data12.genres.str.split('|')
data_12_1 = data12[['profit','genres12']].explode('genres12')
data_12_1.groupby(['genres12'])['profit'].count().sort_values(ascending = False)
#genres_profit = data12.groupby(['genres12'])['profit'].sum().sort_values(ascending = False)

genres12
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: profit, dtype: int64

In [713]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [655]:
data13 = data[data.columns[2:6]].copy()
data13['director13'] = data12.director.str.split('|')
data13_1 = data13[['revenue','director13']].explode('director13')
data13_1.groupby(['director13'])['revenue'].sum().sort_values(ascending = False)

director13
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
Daniel Barber          10329747
DJ Pooh                10229331
Joe Nussbaum           10130000
Christine Jeffs        10000000
John Gulager            8493728
Name: revenue, Length: 814, dtype: int64

In [714]:
answers['13'] = '5. Peter Jackson'

14. Какой режисер снял больше всего фильмов в стиле Action?

In [657]:
data14 = data[data.genres.str.contains("Action", na = False)].copy()
data14['genres14'] = data14.genres.str.split('|')
data14['director14'] = data14.director.str.split('|')
data14_1 = data14[['genres14','director14']].explode('genres14')
data14_1 = data14_1[['genres14','director14']].explode('director14')
data14_1[data14_1['genres14'] == 'Action'].groupby('director14')['genres14'].count().sort_values(ascending = False)

director14
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Name: genres14, Length: 364, dtype: int64

In [715]:
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [659]:
data15 = data[data['release_year'] == 2012].copy()
data15['actors'] = data15.cast.str.split('|')
data15_1 = data15[['revenue','actors']].explode('actors')
data15_1.groupby(['actors'])['revenue'].sum().sort_values(ascending = False)

actors
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [716]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [661]:
data16 = data[data.columns[1:5]].copy()
data16 = data16[data.budget > data.budget.mean()]
data16['actors'] = data16.cast.str.split('|')
data16_1 = data16[['budget','actors']].explode('actors')
data16_1.groupby(['actors'])['budget'].count().sort_values(ascending = False)

actors
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: budget, Length: 1505, dtype: int64

In [717]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [663]:
data17 = data[data.cast.str.contains("Nicolas Cage", na = False)].copy()
data17['actors'] = data17.cast.str.split('|')
data17['genres17'] = data17.genres.str.split('|')
data17_1 = data17[['actors','genres17']].explode('actors')
data17_1 = data17_1[['actors','genres17']].explode('genres17')
data17_1[data17_1['actors'] == 'Nicolas Cage'].groupby('genres17')['actors'].count().sort_values(ascending = False)

genres17
Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: actors, dtype: int64

In [718]:
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [665]:
data18 = data[data.production_companies.str.contains("Paramount Pictures", na = False)].copy()
data18['prod_comp'] = data18.production_companies.str.split('|')
data18 = data18[['original_title', 'profit', 'prod_comp']].explode('prod_comp')
data18[data18['prod_comp'] == 'Paramount Pictures'].groupby('original_title')['profit'].min().sort_values(ascending = False)

original_title
Transformers: Dark of the Moon                        928746996
Transformers: Revenge of the Fallen                   686297228
Indiana Jones and the Kingdom of the Crystal Skull    601636033
Transformers                                          559709780
Mission: Impossible - Ghost Protocol                  549713380
                                                        ...
Twisted                                               -24805000
Alfie                                                 -46604061
Next                                                  -51788987
Timeline                                              -60519261
K-19: The Widowmaker                                  -64831034
Name: profit, Length: 122, dtype: int64

In [719]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [667]:
by_years = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
by_years

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [720]:
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [669]:
data20 = data[data.production_companies.str.contains("Warner Bros", na = False)].copy()
data20.groupby('release_year')['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [721]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [671]:
data21 = data.release_date.dt.month.value_counts()
data21

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date, dtype: int64

In [722]:
answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [733]:
data22 = data[data.release_date.dt.month.isin([6, 7, 8,])].copy()
data22.original_title.count()

450

In [723]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [675]:
data23 = data[['release_date','director']].copy()
data23['director23'] = data23.director.str.split('|')
data23 = data23[['release_date', 'director23']].explode('director23')
#data23
data_tmp = data23[data23.release_date.dt.month.isin([1, 2, 12,])]
data_tmp.groupby('director23')['release_date'].count().sort_values(ascending=False)

director23
Peter Jackson            7
Steven Soderbergh        6
Clint Eastwood           6
Martin Scorsese          4
Adam Shankman            4
                        ..
Matt Bettinelli-Olpin    1
Matt Reeves              1
Matthew O'Callaghan      1
Matthew Vaughn           1
Jon Avnet                1
Name: release_date, Length: 358, dtype: int64

In [676]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [677]:
data24 = data[data.columns[3:11]].copy()
data24['len_title'] = data24.original_title.apply(lambda x: len(x))
data24['prod_com24'] = data24.production_companies.str.split('|')
data24 = data24[['prod_com24', 'len_title']].explode('prod_com24')
data24.groupby(['prod_com24'])['len_title'].mean().sort_values(ascending=False)

prod_com24
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: len_title, Length: 1771, dtype: float64

In [678]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [679]:
data25 = data[data.columns[7:11]].copy()
data25['len_overview'] = data25.overview.apply(lambda x: len(x))
data25['prod_com25'] = data25.production_companies.str.split('|')
data25 = data25[['prod_com25', 'len_overview']].explode('prod_com25')
data25.groupby(['prod_com25'])['len_overview'].mean().sort_values(ascending=False)

prod_com25
Midnight Picture Show                    1000.0
Room 9 Entertainment                      964.0
Brookwell-McNamara Entertainment          936.0
Lions Gate Family Entertainment           909.0
Crest Animation Productions               909.0
                                          ...
Projection Pictures                        74.0
London Boulevard                           74.0
Phantom Four                               72.0
Empire Pictures                            62.0
Motion Picture Corporation of America      59.0
Name: len_overview, Length: 1771, dtype: float64

In [680]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [709]:
data26 = data[['original_title', 'vote_average']]

print(data26.quantile(q = 0.99, axis = 0))
print(data26[data26['vote_average'] >= 7.8])
# в этом задании не понял как вывести датафрейм не используя 2ую строчку с фильром. Сначала посчитал квантиль (7.8) а потом уже вывел с помощью фильтра все позиции с данным рейтингом

vote_average    7.8
Name: 0.99, dtype: float64
                                         original_title  vote_average
9                                            Inside Out           8.0
28                                            Spotlight           7.8
34                                                 Room           8.0
118                                        Interstellar           8.0
119                             Guardians of the Galaxy           7.9
124                                          Big Hero 6           7.8
125                                  The Imitation Game           8.0
128                                           Gone Girl           7.9
138                            The Grand Budapest Hotel           7.9
155                            The Theory of Everything           7.8
177                              The Fault in Our Stars           7.8
283                                          Mr. Nobody           7.8
316                                            3 Idiots           7.8
370                                           Inception           7.9
496   The Lord of the Rings: The Fellowship of the Ring           7.8
599                                     The Dark Knight           8.1
863               The Lord of the Rings: The Two Towers           7.8
872                                         The Pianist           7.9
1081      The Lord of the Rings: The Return of the King           7.9
1183                            The Wolf of Wall Street           7.9
1188                                                Her           7.8
1191                                   12 Years a Slave           7.9
1205                                          Prisoners           7.8
1213                                 Dallas Buyers Club           7.8
1444                                       The Prestige           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1688                                There Will Be Blood           7.8
1800                                            Memento           7.9

In [710]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [730]:
import itertools

In [732]:
data27 = data.copy()
data27['cast'] = data27['cast'].str.split('|')

pairs=[]

for row in range(len(data27)):
    pairs.append(list(itertools.combinations(data27[row]['cast'], 2)))

pairs

# к сожалению так и не смог разобраться с этим заданием

KeyError: 0

# Submission

In [724]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'22': '2. 450',
 '1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '4. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '12': '1. Drama',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave'}

In [684]:
# и убедиться что ни чего не пропустил)
len(answers)

24